[submodule "services/Extract_frames_i_ffmpeg"]
	path = services/Extract_frames_i_ffmpeg
	url = git@github.com:Raghav-56/Extract_frames_i_ffmpeg.git
[submodule "services/asr"]
	path = services/asr
	url = git@github.com:Raghav-56/asr.git
